/* Mobile menu open button */

.m-menu-open{
	position:fixed;
	left:0;
	top:0;
	z-index: 999;
	font-size: 2em;
	text-transform: uppercase;
	padding:5px 10px;
	background: @base-clr;
}

.m-menu-open a{
	color:#FFF;
	border-bottom: none;
	letter-spacing: 0.1em;
}
