
@import 'fitgrid.less';

/* Base */

html{font-size:16px;}

body{
	text-size:62.5%;
	color: #000;
	background-color: #FFF;
	font-family: 'Courier New', Courier, monospace;
}

img{
	width:100%;
	height:auto;
}

/* Group styles */

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* Layout */


/* Modules */


/* States */


/* Theme */


/* Media queries */

@media only screen and (max-width : 1200px){

}

@media only screen and (max-width : 900px){

}

@media only screen and (max-width : 600px){

}