/* Module */

/* ---------------------------------------------------------  Wireframe styles - Remove for production*/

.wireframe-label{
  background: @2-clr;
  text-align: center;
  padding:8em 0;
}

/* ---------------------------------------------------------  Pattern - Remove for production*/

.pattern {
  .make-xs-column(12);
  clear: both;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 25px;
  
  border-bottom: 2px solid #000;
}

.pattern-module{
  .make-row();
  .source{
    .make-xs-column(12);
  }
}


/*  ---------------------------------------------------------  Header */
header{
	.container;
}

.the-head{
	.make-xs-column(12);
}

.the-head svg{
  float:left;
  clear: both;
  height: 10rem;
  width:auto;
}

.the-head-title{
  float:left;
  clear: both;
}

/*  ---------------------------------------------------------  Index */

.index-content{
	.make-xs-column(12);
}

/*  ---------------------------------------------------------  Footer */
footer{
	.container;
}

.the-foot{
	.make-xs-column(12);
}

/*  ---------------------------------------------------------  Primary navigation */

/*  ---------------------------------------------------------  Mobile menu open button */
@import "snippets/menu-open-btn.less";

/*  ---------------------------------------------------------  Fly out menu */
@import "snippets/fly-out-menu.less";

/*  ---------------------------------------------------------  Float menu */
@import "snippets/float-menu.less";