/* ---------------------------------------------------------  Pattern - Remove for production*/

.pattern {
  padding-bottom: @v-space;
  margin-bottom: @v-space;
  
  border-bottom: 2px solid #000;
}

.modules .l-inner {
  padding-bottom: @v-space;
  margin-bottom: @v-space;
  
  border-bottom: 2px solid #000;
}




