/* Module */

/* ---------------------------------------------------------  Wireframe styles - Remove for production*/

.wireframe-label{
  background: @2-clr;
  text-align: center;
  padding:8em 0;
}

/* ---------------------------------------------------------  Pattern - Remove for production*/

.pattern{
  .make-xs-column(12);
}

.pattern-module{
  .make-row();
  .source{
    .make-xs-column(12);
  }
}


/*  ---------------------------------------------------------  Header */
header{
	.container;
}

.the-head{
	.make-xs-column(12);
}

.primary-menu{
	.make-xs-column(12);
}
.primary-menu a{
	font-size:1.6em;
}

/*  ---------------------------------------------------------  Index */

.index-content{
	.make-xs-column(12);
}

/*  ---------------------------------------------------------  Footer */
footer{
	.container;
}

.the-foot{
	.make-xs-column(12);
}

/*  ---------------------------------------------------------  Primary navigation */

/*  ---------------------------------------------------------  Mobile menu open button */
@import "snippets/menu-open-btn.less";

/*  ---------------------------------------------------------  Fly out menu */
@import "snippets/fly-out-menu.less";

/*  ---------------------------------------------------------  Sticky menu */
@import "snippets/sticky-menu.less";