// Import a custom build of bootstrap css by using there less files
// Core variables and mixins
@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";

// Reset and dependencies
@import "bootstrap/less/normalize.less";
@import "bootstrap/less/print.less";

// Core css
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/grid.less";

/* -------------------------------------------------------------------*/

/* Variables */

/* Breakpoints */
/* These use the bootstrap varibles for the grid system */
@break-1: @screen-sm-min;
@break-2: @screen-md-min;
@break-3: @screen-lg-min;

/* Verticle spacing */
@base-pad: 60px;
@base-mar: 60px;

/* Colours */
@white: #fff;
@base-clr: #000;
@2-clr: #f0f0f0;
@3-clr: #c8c8c8;
@4-clr: #a0a0a0;

/* Fonts */
@a-font: 'Arial';
@b-font: 'Arial';
@c-font: 'Arial';

/* -------------------------------------------------------------------*/

/* Base */

html {
	color: #000;
	background-color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  font-size: 62.5%;
}

img,
svg {
	display: block; /* This is to stop the default img behaviour being inline and therefore adding 2px below the image to allow for type descenders. */
	width: 100%;
	height: auto;
}

svg {
  max-height: 100%; /* This is to address a webkit bug on svg heights - https: //bugs.webkit.org/show_bug.cgi?id=82489 */
  max-width: 100%;
}

h1 { font-size: 2.2em }
h2 { font-size: 2em }
h3 { font-size: 1.8em }
h4 { font-size: 1.6em }
h5 { font-size: 1.4em }
h6 { font-size: 1.2em }

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
}

p {
	font-size: 1.6em;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.button {
	transition: background-color 0.5s ease;
	padding: 0.2em 10px;
	color: #fff;
	background-color: #000;
	font-size: 1.6em;
	text-decoration: none;
}

.button:hover {
	background-color: #888;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Layout */

@import 'layout.less';

/* Modules */

@import 'module.less';

/* States */

@import 'state.less';

/* Theme */

@import 'theme.less';

