// Import a custom build of bootstrap css by using there less files
// Core variables and mixins
@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";

// Reset and dependencies
@import "bootstrap/less/normalize.less";
@import "bootstrap/less/print.less";

// Core css
@import "bootstrap/less/grid.less";

/* -------------------------------------------------------------------*/

/* Variables */

@base-pad: 60px;
@base-mar: 60px;

@white:#FFF;
@base-clr:#000;
@2-clr:#f4db2e;
@3-clr:#57b7a6;
@4-clr:#4f306c;

@a-font:'Arial';
@b-font:'Arial';
@c-font:'Arial';

/* -------------------------------------------------------------------*/

/* Base */

html{
	color: #000;
	background-color: #FFF;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
	font-size:62.5%;
}

img{
	width:100%;
	height:auto;
}

h1{font-size:2.2em}
h2{font-size:2em}
h3{font-size:1.8em}
h4{font-size:1.6em}
h5{font-size:1.4em}
h6{font-size:1.2em}

h1, h2, h3, h4, h5, h6{
	font-weight:bold;
	a{
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
	}
}

p{
	font-size:1.6em;
}

ul{
	list-style: none;
	padding-left: 0;
	margin: 0;
}

a{
	text-decoration: none;
}

.button{
	transition: background-color 0.5s ease;
	padding: 0.2em 10px;
	color: #FFF;
	background-color: #000;
	font-size:1.6em;
	text-decoration: none;
}

.button:hover{
	background-color: #888;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Layout */

@import 'layout.less';

/* Modules */

@import 'module.less';

/* States */

@import 'state.less';

/* Theme */

@import 'theme.less';

/* Media queries */

/* min-width:768 */
@import 'media-768.less';

/* min-width:992 */
@import 'media-992.less';

/* min-width:1200 */
@import 'media-1200.less';

