

/* Variables */

/* Verticle spacing */
@v-space: 2rem;

/* Colours */
@primary-dark: #000;

@primary-light: #fff;

/* Fonts */
@body-font: ;
@body-font-italic: ;
@body-font-bold: ;

@head-font: ;

/* -------------------------------------------------------------------*/

/* Base */

html {
  /* Set font base sizes - source: http://css-tricks.com/rems-ems/ */ 
  font-size: 62.5%;
}

body {
  font-family: @body-font;
  color: @primary-dark;
}

.invert-colour {
  color: @primary-light;
  background-color: @primary-dark;
  -webkit-font-smoothing: antialiased;
}

.block-img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  max-height: 100%; /* This is to address a webkit bug on svg heights - https: //bugs.webkit.org/show_bug.cgi?id=82489 */
  max-width: 100%;
}

h1,
.h1 {
  font-size: ;
  line-height: ;
}
h2,
.h2 {
  font-size: ;
  line-height: ;
}
h3,
.h3 {
  font-size: ;
  line-height: ;
}
h4,
.h4 {
  font-size: ;
  line-height: ;
}
h5,
.h5 {
  font-size: ;
  line-height: ;
}
h6,
.h6 {
  font-size: ;
  line-height: ;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: ;
	a {
		
	}
	a:hover {
		
	}
}

p {
	font-size: ;
}

ul {
	// list-style: none;
	// padding-left: 0;
	// margin: 0;
}

a {
	
}

a:hover {

}

a:focus {

}

a:focus {

}

.button,
input[type=submit],
button  {
  display: inline-block;

	text-decoration: none;
  white-space: nowrap;
}

.button:hover,
input[type=submit]:hover,
button:hover {

}

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}

sub { top: 0.4em; }

.browsehappy {
	// This style relates to a message shown in the header.php file when users are on old IE browsers
}

/* Default 16:9 video styling. Wrap you video in a div with a video-holder and video-holder-16-9 class */

.video-holder {
  position: relative;
  height: 0;
}

.video-holder-16-9 {
  padding-bottom: 56.25%; /* 16:9 */  
}

.video-holder iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Layout */

@import 'layout.less';

/* Modules */

@import 'module.less';

/* States */

@import 'state.less';

/* Theme */

@import 'theme.less';

